/*
Elements (used with preprocessors and contain font, colors definitions, etc.)
-- image-slider:
*/

.image-slider {
    position: absolute;
    width: 100%;
    height: 440px;

    top: 0px;
    /* background-color: red; */
    background-blend-mode: multiply, normal;
    background-size: cover, cover;
    background-position: top, center;
    background-repeat: no-repeat, no-repeat;
    overflow: hidden;
    z-index: 251;
    background-image: url(../images/blueoverlay-min920px.svg),
      url(../images/3-intro-pic.jpg);

    visibility:hidden;

    @media (min-width: $mobileBreakpoint) {
        visibility: visible;
    }
  }

  .logo-wrapper {
    z-index: 252;
  }

  .hidden-helper-container{
    display: none;
  }